In [2]:
import pandas as pd
import numpy as np

Dataframes e series

In [33]:
dados = np.array('i', [1, 2, 3, 4])

for x in dados:
    print( x, end=', ')

1, 2, 3, 4,

Matrizes e vetores
- e o que tem haver?

In [37]:
vetor = [1, 2, 3, 4, 5]

matriz = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 0],
    [1, 2, 3, 4, 5],
]

display(matriz[1][3])

9

Listas e arrays nativos do Python são mais flexíveis, pois aceitam múltiplos tipos de dados. Mas são menos eficientes para cálculos numéricos e consomem mais memória. Já os arrays do NumPy são otimizados para computação científica e operações matemáticas rápidas.

## E para resolver isso, temos a incrível biblioteca numpy!

Um dos muitos recursos poderosos do numpy, são os seus arrays "tunados”, com plena capacidade de execução algébrica em seus objetos.

In [70]:
lista = np.array([1, 2, 3, 4, 5])
lista * 2

lista.min()
lista.max()
lista.mean()

np.float64(3.0)

In [112]:
matriz = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
matriz.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [115]:
matriz[:, 2]
matriz = matriz.T
display(matriz)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

Linhas como registros Cada linha guarda informações de um conjunto de dados. 
➡ Exemplo: Uma tabela onde cada linha representa uma pessoa e cada coluna guarda um dado sobre ela (idade, nome, nota).
matriz = [
    [1, 2, 3],  # Primeira linha
    [4, 5, 6],  # Segunda linha
    [7, 8, 9]   # Terceira linha
]

Colunas como registros Cada coluna guarda um conjunto de dados. 
➡ Exemplo: Em aprendizado de máquina ou cálculos matemáticos, muitas vezes os registros são organizados por coluna, pois facilita o processamento.
matriz = [
    [1, 4, 7],  # Primeira coluna de dados
    [2, 5, 8],  # Segunda coluna de dados
    [3, 6, 9]   # Terceira coluna de dados
]

In [14]:

matriz = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 0],
    [1, 2, 3, 4, 5],
]

df = pd.DataFrame(matriz,
                  columns= ['C1', 'C2', 'C3', 'C4', 'C5'],
                  index=['L1', 'L2', 'L3']
  )
df['C2']

L1    2
L2    7
L3    2
Name: C2, dtype: int64

In [35]:
matriz = [
    [1, 2, 3,],
    [5.5, 7, 8,],
    [1, 2, 3.6,],
]

df = pd.DataFrame(matriz,
                  columns=['C1', 'C2', 'C3'],
                  index=['L1', 'L2', 'L3']
                  )
df ** 2

       C1  C2     C3
L1   1.00   4   9.00
L2  30.25  49  64.00
L3   1.00   4  12.96

## Vamos falar de Series!

Um dos grandes segredos do Pandas, está nas Series. Essa estrutura de dados funciona como um array de 1 dimensão (vetor), mas com a possibilidade de ter labels.

Além disso, a estrutura Series do Pandas, permite filtros, gráficos a agrupamentos avançados.

In [4]:
salarios = {
    'junior': 4500,
    'pleno': 8000,
    'senior': 12000,
    'especialista': 15000,
}

s = pd.Series(salarios)
s.describe()

#std é standard deviation, desvio padrão.

count        4.000000
mean      9875.000000
std       4589.389938
min       4500.000000
25%       7125.000000
50%      10000.000000
75%      12750.000000
max      15000.000000
dtype: float64

In [55]:

salarios = {
    'Ana Souza': 4800,
    'Bruno Lima': 9200,
    'Carlos Oliveira': 13500,
    'Daniela Ribeiro': 16500,
    'Eduardo Martins': 5100,
    'Fernanda Costa': 8700,
    'Gabriel Santos': 12500,
    'Helena Rocha': 15500,
    'Igor Mendes': 4600,
    'Juliana Castro': 9100,
    'Kevin Barbosa': 14200,
    'Larissa Teixeira': 17200,
    'Marcelo Pinto': 4950,
    'Natália Freitas': 8600,
    'Otávio Silveira': 13300,
    'Patrícia Almeida': 16200,
    'Renato Nunes': 4700,
    'Simone Farias': 8900,
    'Thiago Monteiro': 14000,
    'Ursula Xavier': 17000,
    'Vinícius Araújo': 5200,
    'William Costa': 9400,
    'Xavier Lopes': 13000,
    'Yasmin Duarte': 16000,
    'Zeca Cardoso': 4850,
    'Aline Moreira': 8800,
    'Beto Souza': 13800,
    'Cecília Neves': 16800,
    'Davi Rodrigues': 5300,
    'Emilly Campos': 9300,
    'Fábio Cunha': 12800,
    'Gisele Mendes': 15800,
    'Hugo Farias': 4700,
    'Isabela Moraes': 9000,
    'Jonas Reis': 13500,
    'Kátia Sampaio': 16500,
    'Leonardo Batista': 5100,
    'Mirella Fernandes': 8900,
    'Nelson Gonçalves': 12600,
    'Olívia Lima': 15600,
    'Pedro Henrique': 4500,
    'Quésia Martins': 8500,
    'Rafael Almeida': 12200,
    'Sabrina Lopes': 15200,
    'Túlio Borges': 5200,
    'Valéria Menezes': 9600,
    'Wagner Dias': 13200,
    'Xênia Barreto': 16200,
    'Yago Amaral': 5000,
    'Zilda Fonseca': 8800,
}

s = pd.Series(salarios)

s[lambda x: x > 10000].describe()

count       24.000000
mean     14712.500000
std       1644.043927
min      12200.000000
25%      13275.000000
50%      14700.000000
75%      16200.000000
max      17200.000000
dtype: float64