In [39]:
import pandas as pd
import numpy as np

Dataframes e series

In [33]:
dados = np.array('i', [1, 2, 3, 4])

for x in dados:
    print( x, end=', ')

1, 2, 3, 4,

Matrizes e vetores
- e o que tem haver?

In [37]:
vetor = [1, 2, 3, 4, 5]

matriz = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 0],
    [1, 2, 3, 4, 5],
]

display(matriz[1][3])

9

Listas e arrays nativos do Python são mais flexíveis, pois aceitam múltiplos tipos de dados. Mas são menos eficientes para cálculos numéricos e consomem mais memória. Já os arrays do NumPy são otimizados para computação científica e operações matemáticas rápidas.

## E para resolver isso, temos a incrível biblioteca numpy!

Um dos muitos recursos poderosos do numpy, são os seus arrays "tunados”, com plena capacidade de execução algébrica em seus objetos.

In [70]:
lista = np.array([1, 2, 3, 4, 5])
lista * 2

lista.min()
lista.max()
lista.mean()

np.float64(3.0)

In [112]:
matriz = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
matriz.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [115]:
matriz[:, 2]
matriz = matriz.T
display(matriz)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

Linhas como registros Cada linha guarda informações de um conjunto de dados. 
➡ Exemplo: Uma tabela onde cada linha representa uma pessoa e cada coluna guarda um dado sobre ela (idade, nome, nota).
matriz = [
    [1, 2, 3],  # Primeira linha
    [4, 5, 6],  # Segunda linha
    [7, 8, 9]   # Terceira linha
]

Colunas como registros Cada coluna guarda um conjunto de dados. 
➡ Exemplo: Em aprendizado de máquina ou cálculos matemáticos, muitas vezes os registros são organizados por coluna, pois facilita o processamento.
matriz = [
    [1, 4, 7],  # Primeira coluna de dados
    [2, 5, 8],  # Segunda coluna de dados
    [3, 6, 9]   # Terceira coluna de dados
]

In [14]:

matriz = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 0],
    [1, 2, 3, 4, 5],
]

df = pd.DataFrame(matriz,
                  columns= ['C1', 'C2', 'C3', 'C4', 'C5'],
                  index=['L1', 'L2', 'L3']
  )
df['C2']

L1    2
L2    7
L3    2
Name: C2, dtype: int64

In [35]:
matriz = [
    [1, 2, 3,],
    [5.5, 7, 8,],
    [1, 2, 3.6,],
]

df = pd.DataFrame(matriz,
                  columns=['C1', 'C2', 'C3'],
                  index=['L1', 'L2', 'L3']
                  )
df ** 2

       C1  C2     C3
L1   1.00   4   9.00
L2  30.25  49  64.00
L3   1.00   4  12.96

## Vamos falar de Series!

Um dos grandes segredos do Pandas, está nas Series. Essa estrutura de dados funciona como um array de 1 dimensão (vetor), mas com a possibilidade de ter labels.

Além disso, a estrutura Series do Pandas, permite filtros, gráficos a agrupamentos avançados.

In [40]:
salarios = {
    'junior': 4500,
    'pleno': 8000,
    'senior': 12000,
    'especialista': 15000,
}

s = pd.Series(salarios)
s.min()
s.mean()
s.max()

np.int64(4500)